html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #901753;
  width: 70vw; /* Set desired width */
  height: 80vh; /* Set desired height */
}

.registration-container {
  background: #800040;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%; /* Set to a smaller percentage of the background-container */
  max-width: 700px; /* Ensure it does not exceed a certain width */
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

.registration-form {
  display: flex;
  flex-direction: column;
}

.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.input-group label {
  width: 150px; /* Adjust width as necessary */
  margin-right: 10px;
  color: #fff;
  text-align: left; /* Align text to the right */
}

.input-group input,
.input-group select,
.input-group textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-group1 .radio-group {
  display: flex;
  align-items: center;
}

.input-group1 .radio-group input {
  width: auto;
  margin-right: 5px;
}

.input-group1 .radio-group label {
  margin-right: 15px;
  color: #fff;
  font-weight: normal;
  text-align: right;
}

.register-button {
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border: none;
  color: black;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #e6e6e6;
}
